body {font: 12px 'Lucida Grande', Geneva, Verdana, Arial, Helvetica, sans-serif}
body.fmgt, html {background-color: #E0E0FF}

.upld-body {background-color:#E7FFFF}
.upldr {margin:10px}

span.pathbread {
	font-size: 1.3em;
}

#ftbl {
	border: none;
/*	width: 100%;*/
}

#ftbl thead, #ftbl tbody {
/*	display: block;*/
}

#ftbl tbody {
	min-height: 2em;
	overflow-y: auto;
	overflow-x: hidden;
}

.tpad {
	padding-left: 1em;
/*	padding-right: 2em;*/
}

#ftbl th, #ftbl td {
	white-space: nowrap;
}
#ftbl td a {
	text-decoration: none;
}

th.left {
	text-align: left;
}

th.right, td.right {
	text-align: right;
}

LABEL.inputLabel {
	width: 90em;
	text-align: right;
	/*float: left;*/
}

.clearBoth {
	clear: both;
}

div#fmnu a {
	margin-left: 8px;
}

td.filicon {
	color:#BBB;
	text-align:center;
}
td.filedticon {
	color: #777;
	text-align:center;
	cursor: pointer;
}
td.imgedticon {
	color: #800;
	text-align:center;
	cursor: pointer;
}
td.diricon {
	font-size:medium;
	color:#DB0;
	text-align:center;
}

div.dnldprg {
	display: none;
}

.dlgitxt {
	width: 100%;
	box-sizing: border-box;
}

#ftbl img {
	border: none;
}

input[type="checkbox"] {
	font-size: 10%;
}

#cmdRsp {
	font: 11px Monaco, Courier;
	width: 99%;
}

#util-view {
	position: fixed;
	top: 180px;
	left: 200px;
	background-color: white;
	border: 1px solid #bbb;
	padding: 4px;
}

#util-view div {
	margin: 2px;
}

#util-view div:hover {
	background-color: #BCE;
	cursor: pointer;
}

#filsform.hover {
	background-color: #BCE;
	border: 1px solid #999;
	border-radius: 4px;
}

/* popup footer */
#footerPop {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #DDDDDD;
	/*padding: 1em;*/
}
#footerPopButton {
	position: absolute;
	top: -38px;
	right: 20px;
	border: none;
	cursor: pointer;
}
#footerPopContent {
	width: 100%;
	height: 0;
	-webkit-transition: height 300ms ease-in;
	-moz-transition: height 300ms ease-in; 
	-ms-transition: height 300ms ease-in;
	-o-transition: height 300ms ease-in; 
	transition: height 300ms ease-in;
}
#footerPopContent form {
	position: absolute ;
	left: 1em;
	top: 1em;
}
#footerPopContent.open {
	height: 70px;
}
